header {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.logo {
  width: 254.84px;
  height: 68.94px;
  margin-top: 34px;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 254px;
    height: 68px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 320px) {
  .logo {
    width: 188px;
    height: 52px;
    margin-top: 24.46px;
  }
}
