.intro {
  width: 830px;
  display: flex;
  flex-direction: column;
  margin-left: 148px;
}
.intro__title {
  font-size: 54px;
  font-family: "Inter";
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
}
.intro__content {
  margin-top: 40px;
  width: 738px;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 34px;
}
.intro__footer {
  position: absolute;
  bottom: 31.99px;
  right: 400px;
  top: 1730px;
  margin-top: 10px;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 34px;
}
.intro__text {
  margin-top: 32px;
  width: 722px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 163%;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .intro {
    width: 720px;
    margin-left: 24px;
  }
  .intro__title {
    width: 707px;
    font-size: 45px;
    line-height: 49px;
    margin-top: 72px;
  }
  .intro__content {
    margin-top: 32px;
    width: 720px;
    font-size: 24px;
    line-height: 28px;
  }
  .intro__footer {
    right: 200px;
    top: 1366px;
    font-size: 20px;
    line-height: 28px;
  }
  .intro__text {
    margin-top: 45px;
    width: 720px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .intro {
    width: 288px;
    margin-left: 16px;
  }
  .intro__title {
    width: 288px;
    height: 175px;
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
  }
  .intro__content {
    margin-top: 40px;
    width: 288px;
    height: 300px;
    font-size: 24px;
    line-height: 30px;
  }
  .intro__footer {
    right: 16px;
    top: 1200px;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__text {
    margin-top: 60px;
    width: 288px;
    font-size: 16px;
    line-height: 163%;
  }
}
