.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.lead__title {
  width: 720px;
  height: 200px;
  font-size: 96px;
  line-height: 100px;
  font-family: "Inter";
  font-weight: 900;
}
.lead__subtitle {
  width: 720px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  font-family: "Inter";
  font-weight: 400;
  margin-top: 32px;
}

.lead__image {
  width: 984px;
  height: 615px;
  margin-top: 79px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .lead__title {
    width: 530px;
    height: 140px;
    font-size: 75px;
    line-height: 76px;
  }
  .lead__subtitle {
    width: 720px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 24px;
  }
  .lead__image {
    width: 768px;
    height: 450px;
    margin-top: 48px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    width: 220px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
  }
  .lead__image {
    width: 320px;
    height: 200px;
    margin-top: 48px;
  }
}
