.photo-grid {
  padding: 46px 48px 46px;
  margin: 0 auto;
}

.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo-grid__list-item {
  list-style-type: none;
}

.photo-grid__list-item .photo-grid__img {
  width: 284px;
  height: 213px;
}
@media screen and (max-width: 768px) {
  .photo-grid__list-item .photo-grid__img {
    width: 352px;
    height: 264px;
  }
  .photo-grid {
    padding: 23px 24px 23px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__list-item .photo-grid__img {
    width: 288px;
    height: 216px;
  }

  .photo-grid {
    padding: 11px 12px 11px;
    margin: 0 auto;
  }
}
